---
import { getCollection } from 'astro:content';
import BlogList from '../components/BlogList.astro'
import '../styles/global.css'

const posts = await getCollection('blog');
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nick de Bruin</title>
  </head>
  <body class="bg-neutral-800">
    <canvas class="absolute inset-0 -z-10" id="canvas"></canvas>

    <div class="grid place-items-center min-h-screen">
      <div class="bg-neutral-900 bg-opacity-95 rounded-lg text-neutral-300 p-12 grid place-items-center text-center">
        <img class="rounded-full w-60" src="/photo.jfif" alt="Photo" />
        <h1 class="text-6xl p-4">Nick de Bruin</h1>
        <p class="p-4 text-xl">Open to work</p>
        <p class="text-xl">
          <a href="https://www.linkedin.com/in/nick-de-bruin/" class="underline underline-offset-2 hover:underline-offset-4">LinkedIn</a> |
          <a href="https://github.com/Nick-de-Bruin" class="underline underline-offset-2 hover:underline-offset-4">GitHub</a> |
          <a href="/cv_en.pdf" class="underline underline-offset-2 hover:underline-offset-4">CV</a>
          (<a href="/cv_nl.pdf" class="underline underline-offset-2 hover:underline-offset-4">Dutch</a>)
        </p>
        <p class="p-4 text-xl">Contact me at:
          <a href="mailto:nickdbruin@gmail.com" class="underline underline-offset-2 hover:underline-offset-4">nickdbruin@gmail.com</a>
        </p>
      </div>
    </div>

    {posts.length > 0 && (
      <section id="blog" class="py-20 bg-neutral-900 bg-opacity-95 text-neutral-300">
        <h2 class="text-4xl text-center mb-8">Blog</h2>
        <div class="max-w-3xl mx-auto">
          <BlogList />
        </div>
      </section>
    )}

    <script src="/src/scripts/main.js"></script>
  </body>
</html>